extends layout

block content
	#content
		#albumart
		#fade

		#container
			ul#controls
				li#station-btn.button
					i(class="fa fa-headphones")
				li#pause-btn.button
					i(class="fa-play fa")
				li#skip-btn.button
					i(class="fa fa-fast-forward")
				
			#info
				#artist
				#title
				#station



